@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
@media(min-width:500px) {
    body {
        margin-top: 18px;
        background-color: #f8f2ed;
    }
    /*html, body, #wrapper, #page-wrapper {height: 100%; overflow: hidden;}*/
}
#content{
    margin-top: 0px;
}
#wrapper {
    padding-left: 0; 

}

#page-wrapper-bills, #page-wrapper {
    margin-top: 0;
    width: 84%;        
    padding: 0;
}
#page-wrapper{
	margin-left: 50px;
	margin-right: 50px;
}

@media(min-width:500px) {
    #wrapper {
        padding-left: 225px;
    }

     #page-wrapper {
        padding: 22px 10px;

        
    }
    #page-wrapper-bills{
    	padding: 22px 0px;
    }
}

/* Top Navigation */

.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 20px;
    color: #fff;
}
.top-nav>li>a:hover {
    color: #fff;
    background-color: #904343 ;
}


/* Side Navigation */

@media(min-width:700px) {
    .side-nav {
        position: fixed;
        top: 60px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        border-top: 1px rgba(0,0,0,.5) solid;
        overflow-y: auto;
        background-color: #222;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
        background-color: #fff;
        font-family: Arial;


    }

    .side-nav li a:hover {
        text-decoration: underline; 
        background-color: #fff
    }
}
.side-nav> #label{
    padding-left: 10%;
    padding-top:  10%;
    font-size: 25px;
    font-family: Arial;
}
.hr{
    margin-top: 150px;
    padding-left: 10px;
    background-color: #fff;
    border-top: 2px dotted #8c8b8b;
    border-bottom: 1px solid #fff;

}
hr{
    margin-top: 70px;
}
.navbar{
    background-color: #990000;
}

.navbar-brand {
    padding: 12px 15px ;
}
#topnav {
    
    width: 84.35%;
    height:30px;
    background-color:#464646;
    font-size:14px;
    color:#ffffff;
    padding:8px 0px 5px 9px;
    position:relative;
    margin-top:0px;
    margin-left:0px;
position: absolute;
    
}
#topnav ul {
    display:inline-block;
    overflow:hidden;
}
#topnav li {
    padding: 0px 6px 0px 11px;
    border-left: 1px solid #dddddd;
    list-style:none;
    display:inline;
}
#topnav li.first {
    padding: 0px 6px 0px 11px;
    border-left: none;
}
#topnav a, #topnav a:visited {
    color: #ffffff;
    text-decoration: none;
}
#topnav a:hover, #topnav a:visited:hover {
    color: #ffffff;
    text-decoration: underline; 
}
h1,h2,h3{
	padding-top: 5px;
	color: #990000;
}
.table{
	font-size: 15px;
}
a{
	color: #990000;
}
a:hover,  a:visited {
    color: #904343;
}

button,.btn{
	background-color: #d17702;
}
.plan {
    padding: 20px;
  color: #fff;
  background-color: #fff;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  -moz-box-shadow: 0 0 6px 2px #b0b2ab;
  -webkit-box-shadow: 0 0 6px 2px #b0b2ab;
  box-shadow: 0 0 6px 2px #b0b2ab;
}
  
.plan-name{
  color: #990000;
  background-color: #fff;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
 }
 .btn , .pagination>li>a ,.pagination>li>span {
    text-align: left;
    color: #990000;
    background-color: #fff;
    border-color: #990000;
 }
 .btn:hover{
  color: #fff;
    background-color: #990000;
 }
 .container{
    background-color: #f8f2ed;
 }
.form-login{
     padding: 20px;
  color: #fff;
  background-color: #fff;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  -moz-box-shadow: 0 0 6px 2px #b0b2ab;
  -webkit-box-shadow: 0 0 6px 2px #b0b2ab;
  box-shadow: 0 0 6px 2px #b0b2ab;
}
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover,
.pagination>li.active>a:hover {
    z-index: 3;
    color: #fff;
    background-color: #990000;
    border-color: #990000;
}

.pagination>li.active>a {
  background: #990000;
  color: #fff;
  border-color: #990000;
}
  label{
    color: #990000;
  }
#Title{
  color: #990000;
}