<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bill Management system</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="../style/style.css" rel="stylesheet">
  <script> window.jQuery = window.$ = require('jquery'); </script>s
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <!-- Bootstrap Core CSS -->
    <!-- <link href="index.css" rel="stylesheet"> -->

<script type="text/javascript">
    
    var electron = require('electron')
    var shell = electron.shell
    var ipc = electron.ipcRenderer

</script>
</head>

<body>
<div id="wrapper">
    <!-- Navigation -->
    <div class="navigation"></div>
    <div id = "page-wrapper">

        <div class="panel panel-danger">
          <div class="panel-heading"><strong>Bills are not synchronized </strong></div>
          <div class="panel-body">
            Press generate if all the bills are ready to be uploaded to the system
            <strong>Last time populated April </strong>
            <button type="button" class="btn btn-danger">Populate</button></div>
        </div>
        <div class="panel panel-danger">
          <div class="panel-heading"><strong>No Bills were sent to employees</strong></div>
          <div class="panel-body">Press the send button to send each bill to each employee
            <strong>Last time sent April </strong>
            <button type="button" class="btn btn-danger">Send</button></div>
        </div>
        </div>
</div>


<script>
    $(document).ready(function(){
      $('.navigation').load("navbar.html");
    });
</script>
     
</body>
</html>


<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>