<html>
  <head>
    <meta charset="UTF-8">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
     <link rel="stylesheet" type="text/css" href="../css/login.css">
     <link rel="stylesheet" type="text/css" href="../node_modules/bootstrap/dist/css/bootstrap.css">

<script type="text/javascript">
    
    var electron = require('electron')
    var shell = electron.shell
    var ipc = electron.ipcRenderer

</script>
     
    
  </head>
  <body>
    <div class="container">
        <div class="row">
            <div class="col-md-offset-5 col-md-3">
                <div class="form-login">
                <h4>Welcome back.</h4>
                <input type="text" id="userName" class="form-control input-sm chat-input" placeholder="username" />
                </br>
                <input type="password" id="userPassword" class="form-control input-sm chat-input" placeholder="password" />
                </br>
                <div class="wrapper">
                <span class="group-btn">     
                    <a href="#" class="btn btn-primary btn-md" onclick = "validateForm()" >login <i class="fa fa-sign-in"></i></a>
                </span>
                </div>
                </div>
            
            </div>
        </div>  
    </div>

  </body>


  <script>


    // You can also require other files to run in this process
    require('../renderer.js')


    var bcrypt = require('bcrypt-nodejs');
    var mysql = require('mysql');
    function validateForm () {

        // var connection = mysql.createConnection({
        //     host     : '127.0.0.1',
        //     user     : 'root',
        //     password : '', // or the original password : 'apaswword'
        //     database : 'bills'
        // });

        // // connect to mysql
        // connection.connect(function(err) {
        //   // in case of error
        //   if(err){
        //       console.log(err.code);
        //       console.log(err.fatal);
        //   }
        // });
        var user = document.getElementById("userName").value
        var pass = document.getElementById("userPassword").value
        if (user == "" || pass == "") {
          // alert("Username and Password must be filled out");
          if(typeof require !== 'undefined') XLSX = require('xlsx');
          // var workbook = XLSX.readFile('test.xlsx');
          // for (i =0; i<workbook.Strings.length; i++){
          //   console.log(workbook.Strings[i].t);
          // }
          alert("No Username or Password entered!")
          
            // return false;
        }
        else {
          
          
          // $query = 'SELECT `password_digest` FROM `users` WHERE `username` = '+"'"+user+"'"
          // console.log($query)
          // connection.query($query, function(err, rows, fields) {

              // if(err){
              //     console.log("An error ocurred performing the query.");
              //     console.log(err);
              //     return;
              // }

              // if (rows.length == 0){
              //   alert("Username does not exist")
              // }
              // else {
              //   var hash = bcrypt.hashSync(pass);
              //   console.log(bcrypt.compareSync(pass,rows[0].password_digest))
              //   if (bcrypt.compareSync(pass,rows[0].password_digest)){
                  ipc.sendSync('gohome')
                // }
                // else{
                //   alert("Wrong Password!")
                // }
              }
          // });
          
        }
    // }
  </script>
</html>
