<nav class="navbar navbar-fixed-top" role="navigation">
        <!-- Top Menu Items -->
        <a class="navbar-brand" href="Homepage.html">
                <img src="../imgs/wordmark.gif" alt="LOGO">
        </a>

        <ul class="nav navbar-right top-nav">        
            <li>
                <a href="login.html"><i class="fa fa-sign-out" aria-hidden="true"></i>LOGOUT</a>
            </li>
        </ul>
        <ul class="nav navbar-nav side-nav">
                <li id="label"> Bill <br> Management <br> System</li>
               <hr class="hr">
                <li>
                    <a style="color: #464646;text-decoration: none;"><i class="fa fa-user"></i> EMPLOYEES</a>
                </li>
                <hr>
                <li>
                    <a onclick = "goEmployeeMain()" style="padding-left: 20px;padding-top: 4px;" role = "button">All Employees</a>
                </li>
                <li>
                    <a onclick = "goActiveEmployee()" style="padding-left: 20px;padding-top: 4px;" role = "button">Active Employees</a>
                </li>
                <li>
                    <a onclick = "goInactiveEmployee()" style="padding-left: 20px;padding-top: 4px;" role = "button">Inactive Employees</a>
                </li>
                <li>
                    <a style="color: #464646;text-decoration: none;"> <i class="fa fa-home"></i>HOMES</a>
                </li>
                <hr style="margin-top: 190px;">
                <li>
                    <a onclick = "goLandlineMain()" style="padding-left: 20px;padding-top: 4px;" role = "button">All Houses</a>
                </li>
                <li>
                    <a onclick = "goOccupidHouses()" style="padding-left: 20px;padding-top: 4px;"role = "button">Occupied Houses</a>
                </li>
                <li>
                    <a onclick = "goVacantHouses()" style="padding-left: 20px;padding-top: 4px;"role = "button">Vacant Houses</a>
                </li>
                <br>
                <br>
                <br>
                <br>
                <br><br>
                <li>
                    <a style="color: #464646;text-decoration: none; "> <i class="fa fa-money"></i>BILLS</a>
                </li>
                <hr style="margin-top: 50px;">
                                <li>
                    <a onclick = "goOutstanding()" style="padding-left: 20px;padding-top: 4px;"role = "button">Outstanding Payments</a>
                </li>
                <li>
                    <a onclick = "goAllBills()" style="padding-left: 20px;padding-top: 4px;"role = "button">Monthly Bills</a>
                </li>

      
        </ul> 
    </nav>

    <div id="page-wrapper-bills">
        <nav>
            <div id="topnav">
                <ul>
                    <li class="first"><a onclick = "goHome()" role = "button">HOME</a></li>
                    <li><a onclick = "goOutstanding()" role = "button">OUTSTANDING PAYMENTS</a></li>
                    <li><a onclick = "goAllBills()" role = "button">ALL BILLS</a></li>
                </ul>
            </div>
        </nav>     
    </div>