<nav class="navbar navbar-fixed-top" role="navigation">
        <!-- Top Menu Items -->
        <a class="navbar-brand" href="Homepage.html">
                <img src="../imgs/wordmark.gif" alt="LOGO">
        </a>

        <ul class="nav navbar-right top-nav">        
            <li>
                <a href="login.html"><i class="fa fa-sign-out" aria-hidden="true"></i>LOGOUT</a>
            </li>
        </ul>
        <ul class="nav navbar-nav side-nav">
                <li id="label"> Bill <br> Management <br> System</li>
               <hr class="hr">
                <li>
                    <a onclick = "goEmployeeMain()"><i class="fa fa-users"></i> MANAGE EMPLOYEES</a>
                </li>
                <li>
                    <a onclick = "goLandlineMain()"> <i class="fa fa-home"></i>MANAGE HOMES</a>
                </li>
      
        </ul> 
    </nav>

    <div id="page-wrapper-bills">
        <nav>
            <div id="topnav">
                <ul>
                    <li class="first"><a onclick = "goHome()" role = "button">HOME</a></li>
                    <li><a onclick = "goOutstanding()" role = "button">OUTSTANDING PAYMENTS</a></li>
                    <li><a onclick = "goAllBills()" role = "button">ALL BILLS</a></li>
                </ul>
            </div>
        </nav>     
    </div>