
    <div id = "page-wrapper">
      <div class="col-md-17">
      <div class="plan">
          <div class="plan-name">
            <center>
            <h2>Total Amount Due For All Bills:</h2>
            <span><h2>2,510 QR</h2></span>
            </center>
          </div>
          <div class="table-responsive" style="color: #990000;">
            <label>Date:  </label><input type="month" name="datepicker" id="datepicker" style="color: #000;"/>
          <button type="button" class="btn btn-default" onclick="UpdateBills()">show</button>
                <table id="allBills" class="table table-bordred table-striped">
              </table>    
          </div>  
        </div>
    </div>
    </div>
     <script>


        require('../renderer.js');
          
       
        var $     = require( 'jquery' );
        var mysql = require('mysql');
        // var bcrypt = require('bcrypt');

        var connection = mysql.createConnection({
            host     : 'mysql.qatar.cmu.local',
            user     : 'fmbills_devuser',
            password : 'PatUmNed', // or the original password : 'apaswword'
            database : 'fmbills_dev',
            insecureAuth: true
        });

        // connect to mysql
        connection.connect(function(err) {
            // in case of error
            if(err){
                console.log(err.code);
                console.log(err.fatal);
            }
        });


        // var app = angular.module('myApp', []);
        var mydate=new Date()
        var year=mydate.getYear()
        
        if (year < 1000)
            year+=1900
        
        var month=mydate.getMonth()+1
        
        if (month<10)
            month="0"+month

        // var showDate = ;
        // console.log(showDate)
        function endConnection() {
          connection.end();
        }
        function UpdateBills(){
            var showDate= document.getElementById("datepicker").value+"-01"
            console.log(showDate)
            $query = "SELECT CONCAT_WS(' ', `employee`.`firstName`, `employee`.`lastName`) AS `empName` , `assignment`.`landline` , `bill`.`billNo` , `bill`.`totalAmountDue` , date_format(str_to_date(`bill`.`billDate`, '%d %M %Y'), '%Y-%m') as `bdate`, `bill`.`billDate` FROM `employee` INNER JOIN `assignment` on `employee`.`andrewId` = `assignment`.`andrewId` RIGHT JOIN `bill` on `assignment`.`landline` = `bill`.`landline` WHERE DATEDIFF(date_format(str_to_date(`bill`.`billDate`, '%d %M %Y'), '%Y-%m-01'),'"+showDate+"') = 0;"

                    connection.query($query, function(err, rows, fields) {
                      if(err){
                          console.log("An error ocurred performing the query.");
                          console.log(err);
                          return; 
                      }
                      console.log(rows)

                      $('#allBills').bootstrapTable({
                          data: rows ,
                          height: 500,
                          cache: false,
                          striped: true,
                          pagination: true,
                          pageSize: 9,
                          pageList: [9,25,50,100,200],
                          minimumCountColumns: 2,
                          search: true,
                          showRefresh:true,
                          checkboxEnable: true,
                          columns: [{

                              field: 'landline',
                              title: 'Landline',
                              sortable: true
                          }, {
                              field: 'empName',
                              title: 'Employee',
                              sortable: true
                          }, {
                              field: 'billNo',
                              title: 'Bill No.',
                              sortable: true
                          }, {
                              field: 'totalAmountDue',
                              title: 'Total Amount Due',
                              sortable: true
                          }, {
                              field: 'bdate',
                              title: 'Bill Date',
                              sortable: true
                          }, {
                              field: 'pdfUrl',
                              title: 'pdf',
                              sortable: true
                          },]
                      });
                    });
        }

       /* $query = "SELECT CONCAT_WS(' ', `employee`.`firstName`, `employee`.`lastName`) AS `empName` FROM `employee`;";*/
        

</script>