
        <div class="panel panel-danger">
          <div class="panel-heading"><strong>Bills are not synchronized </strong></div>
          <div class="panel-body">
            Press generate if all the bills are ready to be uploaded to the system
            <strong>Last time populated April </strong>
            <button type="button" class="btn btn-danger" id="filepicker">Populate</button></div>
        </div>
        <div class="panel panel-danger">
          <div class="panel-heading"><strong>No Bills were sent to employees</strong></div>
          <div class="panel-body">Press the send button to send each bill to each employee
            <strong>Last time sent April </strong>
            <button type="button" class="btn btn-danger">Send</button></div>
        </div>
        <script>
          require('../renderer.js');
        </script>