    <div class="navigation"></div>
    <div id = "page-wrapper">
      <div class="control-group">
      <!-- Button -->
      <div class="controls">
        <a class="btn btn-danger" role = "button" onclick="goNewLandline()">New Home</a>
      </div>
    </div>
        <div class="col-md-10">
          <div class="table-responsive">
            <h1 id="mainTitle"> Occupied Houses</h1>
                <table id="mytable" class="table table-bordred table-striped">
                  <thead>
                     <th>Unit Number</th>
                      <th>Compound</th>
                       <th>LandLine</th>
                       <th>Start Date</th>
                       <th>End Date</th>
                       <th>Employee</th>
                       <th>Bills</th>
                        <th>Edit</th>
                     </thead>
                    <tbody>
                    <tr>
                      <td>504</td>
                      <td>pearl</td>
                      <td>12345678</td>
                      <td>1/1/2016</td>
                      <td>1/1/2018</td>
                      <td><a>Batoul Hasnah<a></td>
                      <td><a>Bills</a></td>
                      <td><p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-pencil"></span></button></p></td>
                    </tr>
                     <tr>
                      <td>508</td>
                      <td>aljazi</td>
                      <td>11115678</td>
                      <td>1/1/2017</td>
                      <td>1/1/2019</td>
                      <td><a>Yasir Khan<a></td>
                      <td><a>Bills</a></td>
                      <td><p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-pencil"></span></button></p></td>
                    </tr>
                    </tbody>
              </table>    
          </div>  
        </div>
           <div class="col-md-10">
          <div class="table-responsive">
            <h1 id="mainTitle"> Vacant Houses</h1>
                <table id="mytable" class="table table-bordred table-striped">
                    <thead>
                     <th>Unit Number</th>
                      <th>Compound</th>
                       <th>LandLine</th>
                       <th>Bills</th>
                        <th>Edit</th>
                     </thead>
                    <tbody>
                    </tr>
                     <tr>
                      <td>538</td>
                      <td>aljazi</td>
                      <td>15555678</td>
                      <td><a>Bills</a></td>
                      <td><p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-pencil"></span></button></p></td>
                    </tr>
                    </tr>
                     <tr>
                      <td>538</td>
                      <td>aljazi</td>
                      <td>15555678</td>
                      <td><a>Bills</a></td>
                      <td><p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-pencil"></span></button></p></td>
                    </tr>
                    </tbody>
              </table>    
          </div>  
        </div>
    </div>