    <div class="navigation"></div>
    <div id = "page-wrapper">
      <form class="form-horizontal" action='' method="POST">
  <fieldset>
    <div id="legend">
      <legend class="">LandLine</legend>
    </div>
    <div class="control-group">
      <label class="control-label"  for="UN">Employee Andrew ID</label>
      <div class="controls">
        <input id = "assignmentAndrewId" type="text" placeholder="Andrew-ID" class="input-xlarge">
      </div>
    </div>
     <div class="control-group">
      <label class="control-label">Landline Number</label>
      <div class="controls">
        <input id = "assignmentLandlineNo" type="text" placeholder="Landline Number" class="input-xlarge">
      </div>
    </div>
 
    <div class="control-group">
      <label class="control-label">Start Date</label>
      <div class="controls">
        <input id = "assignmentStartDate" type="date" placeholder="" class="input-xlarge">
      </div>
    </div>
  <div class="control-group">
      <label class="control-label">End Date</label>
      <div class="controls">
        <input id = "assignmentEndDate" type="Date" placeholder="" class="input-xlarge">
      </div>
    </div>
    <div class="control-group">
      <!-- Button -->
      <div class="controls"><br>
        <a href="#" class="btn btn-primary btn-md" onclick = "addAssignment()" >Add</a>
      </div>
    </div>
  </fieldset>
</form>

</table>


      </fieldset>

    </div>

  <script src="/renderer.js">  </script>