
    <div id = "page-wrapper">
      <div class="control-group employeeAll">
      <!-- Button -->

    </div>
    <div class="col-md-17">
      <div class="plan">
          <div class="plan-name">
            <center>
            <h2>Vacant Houses</h2>
            </center>
          </div>
          <div class="table-responsive" style="color: #990000;">
                <table id="mytableCheck" class="table table-bordred table-striped"></table>    
          </div>  
        </div>
        </div>


<script type="text/javascript">


        require('../renderer.js');

        var $     = require( 'jquery' ); 
        var mysql = require('mysql');
        // var bcrypt = require('bcrypt');


        var connection = mysql.createConnection({
            host     : 'mysql.qatar.cmu.local',
            user     : 'fmbills_devuser',
            password : 'PatUmNed', // or the original password : 'apaswword'
            database : 'fmbills_dev',
            insecureAuth: true
        });

        // connect to mysql
        connection.connect(function(err) {
            // in case of error
            if(err){
                console.log(err.code);
                console.log(err.fatal);
            }
        });




        // var app = angular.module('myApp', []);


        function endConnection() {
          connection.end();
        }


        $query = "SELECT `housing`.`unitNo`, `housing`.`landLine`, `compound`.`compName`, `compound`.`compId` FROM `housing`, `compound` where `housing`.`compId` =  `compound`.`compId` AND `vacant` = 1";
        /*$query = "SELECT `housing`.`unitNo`, `housing`.`landLine`, `compound`.`compName`  FROM `housing` , `compound` , `assignment` WHERE `housing`.`compId` = `compound`.`compId` AND `assignment`.`landline` is null OR DATEDIFF(`assignment`.`endDate`,CURDATE()) < 0;";*/
        connection.query($query, function(err, rows, fields) {
          if(err){
              console.log("An error ocurred performing the query.");
              console.log(err);
              return; 
          }
          console.log(rows)
          $('#mytableCheck').bootstrapTable({
              data: rows ,
              height: 494,
              cache: false,
              striped: true,
              pagination: true,
              pageSize: 9,
              pageList: [9,25,50,100,200],
              minimumCountColumns: 2,
              search: true,
              showRefresh:true,
              checkboxEnable: true,
              columns: [{
                field: 'state',
                title: '',
                align: 'center',
                checkbox: true
              },{

                  field: 'unitNo',
                  title: 'Housing Unit',
                  sortable: true
              }, {
                  field: 'landLine',
                  title: 'Landline',
                  sortable: true
              }, {
                  field: 'compName',
                  title: 'Compound Name',
                  sortable: true
              },]
          });
        });


</script>